<mat-toolbar style="background-color: chocolate">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">MinClick</mat-icon>
      </button>
      <!-- <span><img src="./assets/devglan.png"></span> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='/home'>Home</a>
        <a mat-list-item routerLink='/dashboard'>Dashboard</a>
        <a mat-list-item routerLink='/charts/column'>Reports</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>