<div class="ng-container">

    <!-- Filter form field -->
    <div style="width: 30%;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <!-- Table Data -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            
            <!-- UserName Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> UserName </th>
                <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>
            
            <!-- Game Column -->
            <ng-container matColumnDef="game">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Game </th>
                <td mat-cell *matCellDef="let element"> {{element.game}} </td>
            </ng-container>
            
            <!-- Difficulty Column -->
            <ng-container matColumnDef="difficulty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Difficulty </th>
                <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
            </ng-container>

            <!-- Start Date Time Column -->
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date Time </th>
                <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
            </ng-container>

            <!-- End Date Time Column -->
            <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date Time </th>
                <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
            </ng-container>

            <!-- Score Column -->
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
                <td mat-cell *matCellDef="let element"> {{element.score}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[3, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<!-- <div *ngFor="let gamer of gamers">
    <p>{{gamer.id}} - {{gamer.userName}} - {{gamer.game}} - {{gamer.difficulty}} - {{gamer.score}}</p>
</div> -->