table {
  width: 100%;
}
  
button {
  margin: 16px 8px;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

th.mat-header-cell {
  text-align: left;
  color: #0b5275e8;
  font-size: 16px;
  font-weight: 600;
}
